.logo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo-wrapper:hover {
    cursor: pointer;
}

.logo-img {
    height: 50px;
    transform: scale(2.5);
}

.logo-text {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    min-height: 50px;
}

.logo-name {
    font-size: 20px;
    font-weight: bolder;
}

.logo-motto {
    text-align: center;
}
