.desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
}

.link.active {
    font-weight: bolder;
}

.navbar {
    margin: 40px 0;
    background-color: var(--dark-grey);
}

.navbar-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes show {
    from {
        max-height: 0;
    }
    
    to {
        max-height: 50vh;
    }
}

@keyframes hide {
    from {
        max-height: 50vh;
    }

    to {
        max-height: 0;
    }
}

.hide-element {
    animation-name: hide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.show-element {
    animation-name: show;
    animation-duration: 0.5s;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-image: linear-gradient(to bottom left, var(--dark-grey), var(--yellow3));
}
